```scss
.faq-area {
  padding: 100px 0 70px;
  position: relative;
  z-index: 1;
}

.faq-accordion {
  margin-top: -10px;
  .accordion {
    list-style-type: none;
    padding: 0;
    margin: 0;
    .accordion-item {
      border: none;
      margin-bottom: 10px;
      background: #ffffff;
      box-shadow: 0 0 15px 0 rgba(0,0,0,.1);
      border-radius: 5px;
      .accordion-title {
        padding: 20px 25px;
        cursor: pointer;
        position: relative;
        font-size: 16px;
        font-weight: 600;
        color: #18181b;
        i {
          position: absolute;
          right: 25px;
          top: 50%;
          transform: translateY(-50%);
          font-size: 20px;
          transition: 0.5s;
          &::before {
            content: "\ea50";
          }
        }
        &.active {
          i {
            transform: translateY(-50%) rotate(180deg);
          }
        }
      }
      .accordion-content {
        display: none;
        padding: 0 25px 20px;
        &.show {
          display: block;
        }
        p {
          margin-bottom: 0;
          color: #6b7280;
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .faq-area {
    padding: 50px 0 20px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .faq-area {
    padding: 70px 0 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .faq-area {
    padding: 80px 0 50px;
  }
}
```