`search.component.html`:
```html
<div class="jumbotron text-center">
    <div class="container">
        <h1>Find Your Perfect Home</h1>
        <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="searchTerm" placeholder="Enter location, property type, or features">
            <div class="input-group-append">
                <button class="btn btn-primary" (click)="search()">Search</button>
            </div>
        </div>
        <div class="filters mt-3">
            <select class="form-control" [(ngModel)]="selectedType">
                <option value="">All Property Types</option>
                <option value="house">House</option>
                <option value="apartment">Apartment</option>
                <option value="condo">Condo</option>
            </select>
            <select class="form-control ml-2" [(ngModel)]="priceRange">
                <option value="">Any Price</option>
                <option value="0-100000">$0 - $100,000</option>
                <option value="100000-300000">$100,000 - $300,000</option>
                <option value="300000-500000">$300,000 - $500,000</option>
                <option value="500000+">$500,000+</option>
            </select>
        </div>
    </div>
</div>
```