<div class="header">
    <div class="container">
        <div class="row v-center">
            <div class="header-item item-left">
                <div class="logo">
                    <a href="#">MyStore</a>
                </div>
            </div>
            <div class="header-item item-center">
                <nav class="menu">
                    <ul class="menu-main">
                        <li><a href="#">Home</a></li>
                        <li class="menu-item-has-children">
                            <a href="#">Products <i class="fas fa-angle-down"></i></a>
                            <div class="sub-menu mega-menu mega-menu-column-4">
                                <div class="list-item">
                                    <h4 class="title">Electronics</h4>
                                    <ul>
                                        <li><a href="#">Smartphones</a></li>
                                        <li><a href="#">Laptops</a></li>
                                        <li><a href="#">Tablets</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <h4 class="title">Fashion</h4>
                                    <ul>
                                        <li><a href="#">Men's</a></li>
                                        <li><a href="#">Women's</a></li>
                                        <li><a href="#">Kids</a></li>
                                        <li><a href="#">Accessories</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <h4 class="title">Home & Living</h4>
                                    <ul>
                                        <li><a href="#">Furniture</a></li>
                                        <li><a href="#">Decor</a></li>
                                        <li><a href="#">Kitchen</a></li>
                                        <li><a href="#">Bath</a></li>
                                    </ul>
                                </div>
                                <div class="list-item">
                                    <img src="assets/shop1.jpg" alt="shop">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </nav>
            </div>
            <div class="header-item item-right">
                <a href="#"><i class="fas fa-search"></i></a>
                <a href="#"><i class="fas fa-shopping-cart"></i></a>
                <a href="#"><i class="fas fa-user"></i></a>
                <div class="mobile-menu-trigger">
                    <span></span>
                </div>
            </div>
        </div>
    </div>
</div>