 
  
  @include breakpoint (xxxl) {
    .gx-40 {
      --bs-gutter-x: 40px;
    }
    .gx-30 {
      --bs-gutter-x: 30px;
    }
    .gx-60 {
      --bs-gutter-x: 60px;
    }
    .gx-80 {
      --bs-gutter-x: 80px;
    }
    .gx-134{
        --bs-gutter-x: 134px;
    }
    .gx-165{
      --bs-gutter-x: 165px;
  }
  }
  
 
  
  .gx-0 {
    --bs-gutter-x: 0px;
  }

  .gy-20 {
    --bs-gutter-y: 20px;
  }