
//page scroll bar add
::-webkit-scrollbar {
	width: 8px;
	height: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px $theme-color-2;  
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: $theme-color-2;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
//page scroll bar add

//Basic Code Start
.fix {
  overflow: hidden;
}

.ralt{
 position: relative;
}

//Basic Code End

//Video Css Start
.ripple {
  position: relative;

  &::before,&::after {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px;
      height: 60px;
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      border-radius: 50%;
      box-shadow: 0 0 0 0 rgba(56, 75, 255, 0.5);
      -webkit-animation: rippleOne 3s infinite;
      animation: rippleOne 3s infinite;
  }

  &::before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }

  &::after {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
      content: "";
      position: absolute;
      right: 0;
      bottom: 0;
  }
}
//Video Css End
 
.mega-hover {
  position: relative;
  overflow: hidden;
  z-index: 2
}

.mega-hover:after,.mega-hover:before {
  content: "";
  position: absolute;
  pointer-events: none;
  opacity: 1;
  z-index: -1
}

.mega-hover:before {
  top: 0;
  right: 51%;
  bottom: 0;
  left: 50%;
  background: rgba(255,255,255,0.2)
}

.mega-hover:after {
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  background: rgba(245,255,255,0.3)
}

.mega-hover:hover:before {
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear
}

.mega-hover:hover:after {
  top: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transition: all 900ms linear;
  transition: all 900ms linear
}
 
//pagination default

br {
  @include breakpoint(max-md){
    display: none;
  }
}


/* background */
.bg-cover {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
}

.bg-cover-2 {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-position: center;
  width: 100%;
  height: 100%;
}
 

.box-shadow {
box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.06);
}

.pt-100 {
  padding-top: 100px;

  @include breakpoint (max-lg){
    padding-top: 80px;
  }
}

.pt-110 {
  padding-top: 110px;

  @include breakpoint (max-lg){
    padding-top: 80px;
  }
}

.pb-100 {
  padding-bottom: 100px;

  @include breakpoint (max-lg){
    padding-bottom: 80px;
  }
}

.pb-110 {
  padding-bottom: 110px;

  @include breakpoint (max-lg){
    padding-bottom: 80px;
  }
}

.pb-30{
  padding-bottom: 30px;
}

.pt-30 {
  padding-top: 30px;
}

.margin-top-10 {
    margin-top: -10px;
}

.margin-top-5 {
  margin-top: -5px;
}

.margin-top-60 {
  margin-top: -65px;

    @include breakpoint (max-xxl){
      margin-top: -25px;
    }

    @include breakpoint (max-xl){
      margin-top: -27px;
    }

    @include breakpoint (max-lg){
      margin-top: -75px;
    }

    @include breakpoint (max-md){
      margin-top: -65px;
    }
}

.margin-top-8 {
  margin-top: -10px;
}

.mt-n30{
  margin-top: -30px!important;
}

.mt-n50{
  margin-top: -50px!important;
}


.mt-10{
  margin-top: 10px;
}
.mt-15{
  margin-top: 15px;
}
.mr-7 {
  margin-right: 7px;
}
.mb-20{
  margin-bottom: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mr-44{
  margin-right: 44px;
}
.mb-40 {
    margin-bottom: 40px;

    @include breakpoint (max-md){
       margin-bottom: 35px;
    }

    @include breakpoint (max-sm){
        margin-bottom: 25px;
    }
}

.ml-50 {
  margin-left: 50px;

    @include breakpoint (max-xl){
     margin-left: 0;
    }
}

.mt-10 {
  margin-top: 10px;
}
.mt-60 {
  margin-top: 55px;
}

.mb-60{
  margin-bottom: 60px;
}
.mb-40 {
  margin-bottom: 40px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-n40 {
  margin-bottom: -40px;
}


.mx-492 {
  max-width: 492px;
}

 
.center {
	text-align: center;
	margin: 0 auto;
}

.bg-theme{
	background-color: $theme-color!important;
}

.bg-theme2{
	background-color: $theme-color-2!important;
}

.bg-orange{
	background-color: $theme-color-2!important;
}

.bg-color {
  background-color: $bg-color!important;
}

.bg-color2 {
	background-color: $bg-color-2!important;
}

.bg-color3 {
  background-color: #181818;;
}

.dark-mood {
  background-color: #181818;;
}



.bg-title {
	background-color: $title-color;
}

.bg-transparent {
  background: transparent!important;
}
  
.text-dark2{
	color: #838387!important;
}

.text-color{
  color: $text-color;
}
.text-title {
  color: $title-color!important;
}
.text-bg-color2{
	color: $bg-color-2!important;
}

.text-theme-color{
	color: $theme-color!important;
}

.text-theme-color2{
	color: $theme-color-2!important;
}

.text-orange-color{
	color: $theme-color-2!important;
}


.border-right-none {
  border-right: 0px!important;
}

.bg-img{
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-white {
  background-color: $white;
}