

.history-wrapper {
    &.style1 {
        .history-thumb {  
            position: relative;
            margin-left: -320px;
            margin-bottom: -300px;
            height: 100%;

            @include breakpoint (max-lg) {
                margin-left: 0;
                margin-bottom: 0;
            }
            .thumb {
                position: relative;
                width: 100%; 
                height: 100%;
            }

           .video-wrap {
                position: absolute;
                top: 50%;
                left: 50%; 
                transform: translate(-50%, -50%);
                z-index: 5;
                -webkit-transform: translate(-50%, -50%);
                -moz-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                -o-transform: translate(-50%, -50%);
                animation: 6s rippleOne linear infinite;
 
}
        }

        .history-content {
            .theme-btn {
                margin-top: 50px;
            }
        }
    }
}

.history-section {
    position: relative;

    .tree-shape {
        position: absolute;
        bottom: 0;
        right: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }
}