.shop-details {
    padding: 60px 0;
}

.product-big-img {
    padding: 75px 125px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;

    .dishes-thumb .circle-shape {
        position: absolute;
        top: -10px; 

        @include breakpoint (sm) {
            display: none;
        }
        @include breakpoint (xxl) {
            display: block;
        }
    }

    @include breakpoint (max-md) {
        padding: 30px 30px;
        .dishes-thumb .circle-shape {
            position: absolute;
            top: -10px;
    
            img {  
                    max-width: 283px; 
               
            }
        }
    }

    @media (max-width: 400px) { 
        .dishes-thumb .circle-shape {  
            img {   
                max-width: 229px; 
               
            }
        }
    }

    
    @media (max-width: 330px) { 
        .dishes-thumb .circle-shape {  
            img {   
                max-width: 177px; 
               
            }
        }
    }
}

.product-about {
    .title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .product-title {
        color: $title-color;
        font-family: $title-font;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 50px;
        text-transform: capitalize;
    }

    .price {
        color: $title-color;
        font-family: $title-font;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        text-transform: capitalize;
    }

    .product-rating {
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 1px solid $border-color-2;
    }

    .text {
        color: $text-color;
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        margin-bottom: 35px;
    }

    .share {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.actions {
    margin-bottom: 15px;
    .quantity {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        gap: 30px;


        p {
            color: $text-color;
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;
        }

        input {
            padding: 0 5px;
            text-align: center;
            border-radius: 5px;
            border: 1px solid $border-color-2;
            background: $white;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
        }

        .btn-wrapper {
            display: flex;
            flex-direction: column;
        }
        .qty-btn {
            width: 34px;
            height: 30px;
            border-radius: 0px 5px 0px 0px;
            border: 1px solid $border-color-2;
            background: $white;
            color: $text-color;
            -webkit-border-radius: 0px 5px 0px 0px;
            -moz-border-radius: 0px 5px 0px 0px;
            -ms-border-radius: 0px 5px 0px 0px;
            -o-border-radius: 0px 5px 0px 0px;
        }
    }
}


.social-media {
    display: flex;
    align-items: center;
 li {
    a {
        display: block;
        width: 35px;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
        text-align: center;
        margin-right: 10px;
        background-color: $white;
        color: $title-color;
        border: 1px solid $border-color-2;
        border-radius: 30px;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;

        &:hover {
            background-color: $theme-color;
            color: $white!important;
        }
    }
 }
}

.product-description {
    padding: 50px 0;
    margin-bottom: 60px;
    border-bottom: 1px solid $border-color-2;
    h3 {
        color: $title-color; 
        font-family: $title-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;  
        text-transform: capitalize;
    }

    .desc {
        p {
            color: $text-color; 
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;  
        }
    }
}

.product-review {
    h3 {
        color: $title-color; 
        font-family: $title-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;  
        text-transform: capitalize;
        margin-bottom: 40px;
    }
}