```html
<div class="untree_co-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7 text-center mx-auto">
                <span class="sub-title">Popular Dishes</span>
                <h2 class="section-title text-center mb-3">Our Popular Dishes</h2>
            </div>
        </div>
        <div class="owl-single no-dots owl-carousel">
            <div class="item">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="row mb-5">
                            <div class="col-6">
                                <div class="product">
                                    <a routerLink="/menu-singular" class="thumbnail">
                                        <img src="assets/images/product-1.jpg" alt="Image" class="img-fluid">
                                    </a>
                                    <h3><a routerLink="/menu-singular">Grilled Chicken</a></h3>
                                    <div class="d-flex">
                                        <div>from $34.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="product">
                                    <a routerLink="/menu-singular" class="thumbnail">
                                        <img src="assets/images/product-2.jpg" alt="Image" class="img-fluid">
                                    </a>
                                    <h3><a routerLink="/menu-singular">Fresh Mixed Salad</a></h3>
                                    <div class="d-flex">
                                        <div>from $20.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="product">
                                    <a routerLink="/menu-singular" class="thumbnail">
                                        <img src="assets/images/product-3.jpg" alt="Image" class="img-fluid">
                                    </a>
                                    <h3><a routerLink="/menu-singular">Grilled Pork</a></h3>
                                    <div class="d-flex">
                                        <div>from $40.00</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="product">
                                    <a routerLink="/menu-singular" class="thumbnail">
                                        <img src="assets/images/product-4.jpg" alt="Image" class="img-fluid">
                                    </a>
                                    <h3><a routerLink="/menu-singular">Baked Salmon</a></h3>
                                    <div class="d-flex">
                                        <div>from $28.00</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 ms-auto">
                        <h2 class="section-title mb-4">Best Seller</h2>
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        <p class="mb-4">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                        <ul class="list-unstyled mb-4">
                            <li>Behind the word mountains</li>
                            <li>Far far away mountain</li>
                            <li>Large language ocean</li>
                            <li>Bookmarksgrove right at the coast</li>
                        </ul>
                        <p><a routerLink="" class="btn btn-primary">Order Now</a></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="row align-items-center">