



.breadcumb-wrapper {
    background-image: url(../img/bg/breadcumb.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .breadcumb-content {
        padding: 160px 0; 
        text-align: center;

        .breadcumb-title {
            color: $white; 
            font-family: $title-font;
            font-size: 64px;
            font-style: normal;
            font-weight: 900;
            line-height: 105px;  
            text-transform: uppercase;

            @include breakpoint (max-sm) {
                font-size: 40px;
                line-height: 52px;
            }
        }

        .breadcumb-menu {
            display: flex;
            justify-content: center;
            gap: 15px;
            @include breakpoint (max-sm) {
              gap: 5px;
            }
            li {
                a{
                    color: $white; 
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;   
                }
                &.active {
                    color: $theme-color; 
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 26px;
                }
            }
        }
    }
}




.error-wrapper {
    h2 {
        color: $title-color;
        text-align: center; 
        font-family: $title-font;
        font-size: 30px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;  
        text-transform: capitalize;
        margin-top: 70px;
        margin-bottom: 35px;
    }
}



.account-wrapper {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.account-card {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    .logo {
        margin-bottom: 60px;
    }

    h3 {
        color: $title-color;
        text-align: center; 
        font-family: $title-font;
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px;  
        text-transform: capitalize;
        margin-bottom: 5px;
    }

    p {
        color: $title-color;
        text-align: center; 
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;  
        margin-bottom: 50px;
    }

    h6 {
        color: $title-color;
        text-align: center; 
        font-family: $body-font;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px; 
        margin-top: 50px;
    }

    .form-ctl {
        position: relative;

        .icon {
            position: absolute;
            top: 1rem;
            right: 1rem;
        }
    }
}

.account-thumb { 
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: center;

 

    img{
        width: 100%;
        height: auto;
        
    }
}