.chefe-wrapper {
    &.style1 {
        position: relative;

        .shape1 {
            position: absolute;
            top: 0;
            left: 0;
        }

        .shape2 {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}


.chefe-card {
    &.style1 {
        position: relative;
        padding: 125px 88px 33px;
        margin-top: 215px;
        background: $white;
        border-radius: 100px 100px 0px 0px;

        .chefe-thumb {
            position: absolute;
            top: -180px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);

            img {
                width: 310px;
                height: 297px;
            }
        }

        .icon {
            position: relative;
            text-align: center;
            top: -30px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            z-index: 3;

            a {
                i {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: $theme-color-2;
                    color: $white;
                    border-radius: 50%;
                    transition: all 0.4s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;

                    &:hover {
                        background: $theme-color;
                        color: $white;
                    }
                }
            }

            .hovered-icon {
                position: relative;
                opacity: 0;
                visibility: hidden;

                i {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: $white;
                    color: $title-color !important;
                    border-radius: 50%;
                    transition: all 0.4s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;

                    &:hover {
                        background: $theme-color;
                        color: $white;
                    }
                }

            }

            &:hover {
                a {
                    i {
                        background: $theme-color;
                    }
                }

                .hovered-icon {
                    opacity: 1;
                    visibility: visible;

                    i {
                        width: 40px;
                        height: 40px;
                        line-height: 40px;
                        text-align: center;
                        background: $white;
                        color: $title-color !important;
                        border-radius: 50%;
                        box-shadow: 0px 4px 10px rgba(19, 76, 179, 0.15);

                        transition: all 0.4s;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        -webkit-transition: all 0.4s;
                        -moz-transition: all 0.4s;
                        -ms-transition: all 0.4s;
                        -o-transition: all 0.4s;

                        &:hover {
                            background: $theme-color;
                            color: $white !important;
                            box-shadow: 0px 4px 10px rgba(19, 76, 179, 0.15);

                        }
                    }
                }
            }
        }

        .chefe-content {
            text-align: center;

            a {
                h3 {
                    color: $title-color;
                    font-family: $title-font;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    margin-bottom: 10px;

                    &:hover {
                        color: $theme-color;
                    }
                }
            }


            p {
                color: $text-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }
        }
    }

    &.style2 {
        margin-top: 40px;
        position: relative; 
        .chefe-thumb {
            position: relative;

            img {
                width: 100%;
                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
}
        }

        .icon {
            opacity: 0;
            visibility: hidden;
            border-radius: 30px 0px;
            background: $theme-color;
            padding: 16px 16px 16px 40px;
            position: absolute;
            top: 200px;
            right: -125px; 
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;
            transform: rotate(-90deg);
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);

            a {

                i {
                    width: 40px;
                    height: 40px;
                    line-height: 40px;
                    text-align: center;
                    background: $white;
                    color: $theme-color;
                    margin-right: 5px;
                    border-radius: 50%;
                    transform: rotate(90deg);
                    transition: all 0.4s;
                    transform: rotate(-90deg);
                    -webkit-transform: rotate(90deg);
                    -moz-transform: rotate(90deg);
                    -ms-transform: rotate(90deg);
                    -o-transform: rotate(90deg);
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;

                    &:hover {
                        background: $title-color;
                        color: $white;

                    }
                }

            }

            span {
                margin-right: 10px;
                position: relative;
                color: $white;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;

                &:before {
                    position: absolute;
                    content: '';
                    width: 20px;
                    height: 1px;
                    background: $white;
                    top: 8px;
                    right: 50px;
                }
            }

            @include breakpoint (max-xxxl) { 
              right: -105px; 
            }
        }

        .chefe-content {
            position: absolute;
            bottom: -45px;
            left: 24px;
            right: 24px;
            text-align: center;
            padding: 30px 46px;
            border-radius: 30px 0px;
            background: $white;
            box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.08);
            transition: all 0.4s;
            -webkit-transition: all 0.4s;
            -moz-transition: all 0.4s;
            -ms-transition: all 0.4s;
            -o-transition: all 0.4s;

            @include breakpoint (max-xxl) {
                bottom: -53px;
            }
            @include breakpoint (max-xl) {
                bottom: -35px;
            }

            @include breakpoint (max-sm) {
                padding: 13px 20px;
            }

            a {
                h3 {
                    color: $title-color;
                    font-family: $title-font;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;
                    margin-bottom: 10px;

                    &:hover {
                        color: $theme-color;
                    }

                    @include breakpoint (max-sm) {
                        margin-bottom: 2px;
                    }
                }
            }


            p {
                color: $text-color;
                font-family: $body-font;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 26px;
            }
        }

        &:hover {
            .chefe-content {
                border-top: 5px solid $theme-color;
            }

            .icon {
                opacity: 1;
                visibility: visible;
                top: 130px;
}

        }
    }
}



.chefe-thumb {
    height: 100%;
    img {
        width: 100%;
        height: 100%;
    }
    
}


.chefe-details-wrapper {

    &.style1 {
        h2 {
            color: $title-color; 
            font-family: $title-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 50px;  
            text-transform: capitalize;
            margin-bottom: 15px;
        }
    
        h6 {
            color: $text-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
            margin-bottom: 20px;
        }
    
        p {
            color: $text-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;  
        }
    
        h5 {
            color: $title-color;
            font-family: $title-font;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            line-height: 30px;  
            text-transform: capitalize;
            margin: 30px 0;
        }
    
        .follow-area {
            margin-top: 40px;
        }
    }

    &.style2 {
        .star-wrapper {
            margin-bottom: 10px;
        }

        h2 {
            color: $title-color; 
            font-family: $title-font;
            font-size: 40px;
            font-style: normal;
            font-weight: 900;
            line-height: 50px;  
            text-transform: capitalize;
            margin-bottom: 5px;
        }
    
        h6 {
            color: $title-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px; 
            margin-bottom: 20px;
        }
    
        p {
            color: $title-color;
            font-family: $title-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 30px;  
        }
     
    
        .follow-area {
            margin: 20px 0;
        }
    }
}



.progress-wrap {
    margin-bottom: 30px;

    &:last-child {
        margin-bottom: 0;
    }

    .progress-meta {
        display: flex;
        gap: 250px;
        margin-bottom: 15px;

        .title {
            color: $title-color;
            font-family: $title-font;
            font-size: 18px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        .percentage {
            color: $title-color;
            font-family: $title-font;
            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        @include breakpoint (max-sm) {
            gap: 210px;
        }

        @include breakpoint (max-xxs)  {
            gap: 150px;
        }
    }

    .progress-container {
        position: relative;
        width: 100%;
        height: 5px;
        background-color: #D9DDFF;
        border-radius: 10px;
        overflow: visible;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;

        .progress-bar {
            height: 5px;
            background-color: $theme-color;
            border-radius: 10px;
            opacity: 0;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        @include breakpoint (max-md) {
            width: 85%;
        }
    }
}



.progress-wrap{
    .progress-container{
        &:before {
            content: '';
            display: none!important;
        }
        &:after {
            content: '';
            display: none!important;
        }

        height: 12px;
        .progress-bar{
            height: 12px;
        }
    }
} 


.skills-desc {
    h2 {
        color: $white; 
        font-family: $title-color;
        font-size: 36px;
        font-style: normal;
        font-weight: 900;
        line-height: 50px; 
        text-transform: capitalize;
    }
}

.reservation-wrapper {
    .get-in-touch {
        h2 {
            color: $title-color; 
            font-family: $title-font;
            font-size: 64px;
            font-style: normal;
            font-weight: 900;
            line-height: 105px;  
            text-transform: uppercase;
            margin-bottom: 10px;


            @include breakpoint (max-sm) {
                font-size: 35px;
                line-height: 55px;
            }
        }

        .desc {
            color: $text-color; 
            font-family: $body-font;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 26px;   
            margin-bottom: 50px;
        }

        .contact-info-wrapper {
            display: flex;
            align-items: center;
            gap: 80px; 
            .contact-info {
                margin-bottom: 40px;
                h5 {
                    color: $title-color; 
                    font-family: $title-font;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 30px;  
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }

                p {
                    color: $title-color; 
                    font-family: $body-font;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 26px;  
                }
            }

            @include breakpoint (max-sm) {
                display: flex;
                flex-direction: column;
                gap: 5px;
                justify-content: start;
                align-items: start;
            }
        }
    }
}