//>>>>> Common Css Start <<<<<//
.fancy-box {
	&.style1 {
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 20px;

		.item {
			.icon {
				padding: 30px 20px;
				border-radius: 12px;
				border: 1px solid $border-color;
				-webkit-border-radius: 12px;
				-moz-border-radius: 12px;
				-ms-border-radius: 12px;
				-o-border-radius: 12px;

				i {
					width: 40px;
					height: 40px;
					line-height: 40px;
					text-align: center;
					background-color: $theme-color;
					color: $white;
					border-radius: 50%;
					-webkit-border-radius: 50%;
					-moz-border-radius: 50%;
					-ms-border-radius: 50%;
					-o-border-radius: 50%;
				}
			}

			h5 {
				color: $title-color;
				font-family: $title-font;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 130%;
				text-align: start;
			}

			p {
				color: $text-color;
				font-family: $body-font;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 150%;
				margin-top: 10px;
			}
		}
	}

	&.style2 {
		position: relative;
		display: flex;
		align-items: center;
		z-index: 3;

		.item {
			img {
				margin-right: 15px;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
			}
		}

		.item {
			h4 {
				color: $title-color;
				font-family: $title-font;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 130%;
				margin-right: 30px;
			}

			span {
				color: $text-color;
				font-family: $body-font;
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 150%;
				margin-right: 5px;
			}
		}

		.item {
			i {
				padding: 12px 0px 12px 30px;
				text-align: center;
				color: $theme-color;
				border-left: 2px solid $border-color;
			}
		}
	}

	&.style3 {
		.item {
			img {
				margin-bottom: 15px;
			}

			h6 {
				color: $title-color;
				font-family: $body-font;
				font-size: 18px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
				margin-bottom: 5px;
			}

			span {
				color: $title-color;
				font-family: $body-font;
				font-size: 18px;
				font-style: normal;
				font-weight: 300;
				line-height: 150%;
			}
		}
	}

	&.style4 {
		display: flex;
		align-items: center;
		gap: 20px;
		.item { 
			img {
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
}
			p {
				color:  #1E2023; 
				font-family: $body-font;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
			}

			h6 {
				color: $title-color;
				font-family: $body-font;  
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			} 
		}
	}

	&.style5 {
		display: flex;
		align-items: center;
		gap: 30px;
		margin-top: 30px;
		.item { 
			
			.icon {
				width: 60px;
				height: 60px;
				line-height: 60px;
				text-align: center;
				background: #0E1317;
				border-radius: 50%;
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
}

			p {
				color:  #1E2023; 
				font-family: $body-font;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: normal;
				text-transform: capitalize;
			}

			h6 {
				color: $title-color;
				font-family: $body-font;  
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
				margin-bottom: 10px;
			} 
		}
	}

	&.style6 {
		display: flex;
		align-items: center;
		gap: 30px;
		margin-top: 30px;
		.item {  

			p { 
				font-family: $body-font;
				color: $white;  
				font-size: 16px;
				font-style: normal;
				font-weight: 300;
				line-height: 26px;  
			}

			h6 {
				color: $title-color;
				font-family: $body-font;  
				color: $white; 
				font-family: $title-font;
				font-size: 20px;
				font-style: normal;
				font-weight: 700;
				line-height: 28px;  
			} 
		}
	}
}

.social-profile {
	position: absolute;
	right: 1rem;
	top: 1rem;
	max-height: 380px;
	content: "";
	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	z-index: 2;
	display: inline-block;
	z-index: 9;
	-moz-transition: all .4s ease-in-out;
	-ms-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;

	ul {
		max-width: 50px;
		margin: 0 auto;
		transform: translateY(100px);
		transition: all 0.6s ease-in-out;
		opacity: 0;
		visibility: hidden;
		border-radius: 144px;
		-webkit-transform: translateY(100px);
		-moz-transform: translateY(100px);
		-ms-transform: translateY(100px);
		-o-transform: translateY(100px);
		-webkit-border-radius: 144px;
		-moz-border-radius: 144px;
		-ms-border-radius: 144px;
		-o-border-radius: 144px;

		li {
			margin-bottom: 8px;
			display: block;
			text-align: center;

			&:last-child {
				margin-bottom: 0px;
			}

			a {
				width: 30px;
				height: 30px;
				line-height: 30px;
				text-align: center;
				font-size: 16px;
				display: inline-block;
				background: $white;
				color: $title-color;
				-webkit-transition: all .4s ease-in-out;
				transition: all .4s ease-in-out;
				border-radius: 50%;
				-moz-transition: all .4s ease-in-out;
				-ms-transition: all .4s ease-in-out;
				-o-transition: all .4s ease-in-out;

				&:hover {
					background: $theme-color;
					color: $white !important;
				}
			}
		}
	}

	.plus-btn {
		position: relative;
		z-index: 2;
		cursor: pointer;
		width: 30px;
		height: 30px;
		line-height: 30px;
		text-align: center;
		font-size: 16px;
		display: inline-block;
		background-color: $theme-color;
		color: $white !important;

		a {

			background-color: $theme-color;
			color: $white !important;
		}

		@include transition;
		border-radius: 50%;
	}

	&:hover {
		ul {
			transform: translateY(10%);
			opacity: 1;
			visibility: visible;
			-webkit-transform: translateY(10%);
			-moz-transform: translateY(10%);
			-ms-transform: translateY(10%);
			-o-transform: translateY(10%);
		}
	}
}


.modal-details {
	.title-box {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid #E5E5E5;

		.title {
			h3 {
				color: $title-color;
				font-family: $title-font;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 50px;
				text-transform: capitalize;
			}
		}

		.price {
			color: $title-color;
			font-family: $title-font;
			font-size: 36px;
			font-style: normal;
			font-weight: 700;
			line-height: 30px;
			text-transform: capitalize;
		}
	}

	.desc {
		p {
			color: $text-color;
			font-family: $body-font;
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 26px;
		}
	}
}



.star {
	ul {
		display: flex;
		align-items: center;
		justify-content: start;
		gap: 5px;

		li {
			i {
				color: $theme-color-2;
			}
		}
	}
}


.progress-wrap {
	margin-bottom: 15px;

	.progress-meta {
		display: flex;
		justify-content: space-between;
		margin-bottom: 15px;

		.title {
			color: $theme-color;
			font-family: $title-font;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
		}

		.percentage {
			color: $theme-color;
			font-family: $title-font;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
		}

		@include breakpoint (max-xs) {
			gap: 210px;
		}

		@include breakpoint (max-xxs) {
			gap: 150px;
		}
	}

	.progress-container {
		position: relative;
		width: 100%;
		height: 5px;
		background-color: #D9DDFF !important;
		border-radius: 10px;
		overflow: visible;

		.progress-bar {
			height: 5px;
			background-color: $theme-color;
			border-radius: 10px;
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			white-space: nowrap;
			z-index: 1;
		}

		@include breakpoint(max-sm) {
			width: 85%;
		}


		&:before,
		&:after {
			position: absolute;
			top: -4px;
			content: '';
			width: 8px;
			height: 12px;
			background-color: $theme-color;
			z-index: 3;
			border-radius: 2px;
		}

		&:before {
			left: 0;
		}

		&:after {
			right: 30%;
		}

		&.style2 {

			&:before,
			&:after {
				background-color: $theme-color-2;
			}
		}
	}

}

.arrow-button {
	position: absolute;
	z-index: 9;

	.arrow-prev {
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		margin-right: 8px;
		background-color: $white;
		color: $title-color;
		border: 1px solid $title-color;
		border-radius: 50%;
		transition: all 0.4s ease-in-out;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
	}

	.arrow-next {
		width: 60px;
		height: 60px;
		line-height: 60px;
		text-align: center;
		background-color: $theme-color-2;
		color: $title-color;
		border: 1px solid $theme-color-2;
		border-radius: 50%;
		transition: all 0.4s ease-in-out;
		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		-o-border-radius: 50%;
		-webkit-transition: all 0.4s ease-in-out;
		-moz-transition: all 0.4s ease-in-out;
		-ms-transition: all 0.4s ease-in-out;
		-o-transition: all 0.4s ease-in-out;
	}

	.arrow-next,
	.arrow-prev {
		&:hover {
			background-color: $title-color;
			color: $white;
			border: 1px solid $title-color;
		}
	}
}

//>>>>> Mouse Cursor Start <<<<<//
.mouse-cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	visibility: hidden;
}

.cursor-inner {
	width: 6px;
	height: 6px;
	z-index: 10000001;
	background-color: $theme-color-2;
	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
	-o-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;

	&.cursor-hover {
		margin-left: -35px;
		margin-top: -35px;
		width: 70px;
		height: 70px;
		background-color: $theme-color-2;
		opacity: 0.3;
	}
}

.cursor-outer {
	margin-left: -12px;
	margin-top: -12px;
	width: 30px;
	height: 30px;
	border: 1px solid $theme-color-2;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 10000000;
	opacity: 0.5;
	-webkit-transition: all 0.08s ease-out;
	-o-transition: all 0.08s ease-out;
	transition: all 0.08s ease-out;

	&.cursor-hover {
		opacity: 0;
	}
}



.comment-list {
	.comment-item {
		position: relative;
		padding-bottom: 30px;
		margin-bottom: 30px;
		border-bottom: 1px solid $border-color-2;

		.post-comment {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 20px;

			.comment-avater {}

			.comment-content {
				.name {
					color: $title-color;
					font-family: $title-font;
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
					text-transform: capitalize;
					margin-bottom: 5px;
				}

				.commented-on {
					margin-bottom: 15px;

					@include breakpoint (max-sm) {
						margin-bottom: -10px;
					}
				}

				.text {}

				.star {
					position: absolute;
					top: 15px;
					right: 15px;

					@include breakpoint (max-sm) {
						position: relative;
						margin: 0px 0 25px 12px;
					}
				}
			}

			@include breakpoint (max-sm) {
				display: flex;
				flex-direction: column;
			}
		}
	}
}


.star {
	display: inline-flex;
	align-items: center;
	gap: 5px;

	li {
		color: $theme-color;
	}
}


.comment-form {
	margin-top: var(--blog-space-y, 50px);
	padding: 60px;
	position: relative;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: $bg-color-2;
	border: 0;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;


	.inner-title {
		color: $title-color;
		font-family: $title-font;
		font-size: 30px;
		font-style: normal;
		font-weight: 900;
		line-height: 50px;
		text-transform: capitalize;
		margin-bottom: 25px;
	}

	.rating {
		display: flex;
		align-items: center;
		gap: 25px;
		margin-top: 15px;
		margin-bottom: 35px;
	}

	@include breakpoint (max-sm) {
		padding: 30px;
	}
}



.form-group {
	margin-bottom: var(--bs-gutter-x);
	position: relative;
}

.form-group>i {
	display: inline-block;
	position: absolute;
	right: 25px;
	top: 18px;
	font-size: 16px;
	color: $text-color;
}

.form-group>i.fa-envelope {
	padding-top: 1px;
}



/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

input[type=checkbox] {
	visibility: hidden;
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	// display: none;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type=checkbox]:checked~label:after {
	opacity: 1;
}

input[type=checkbox]~label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	display: block;
	line-height: 30px;
}

input[type=checkbox]~label:before {
	content: "";
	position: absolute;
	left: 0px;
	top: 3.5px;
	background: $white;
	border: 1px solid $border-color-2;
	height: 20px;
	width: 20px;
	text-align: center;
	z-index: 9;
}

input[type=checkbox]~label:after {
	content: "";
	position: absolute;
	left: 6px;
	top: 9px;
	background: $theme-color;
	height: 8px;
	width: 8px;
	opacity: 0;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	-moz-transition: 0.4s;
	transition: 0.4s;
	z-index: 9;
}

input[type=checkbox].style2~label {
	color: #8B929C;
	padding-left: 23px;
	margin-bottom: -0.5em;
}

input[type=checkbox].style2~label:before {
	background-color: white;
	border: 1px solid #f7ccd7;
	height: 14px;
	width: 14px;
	line-height: 14px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	top: 6px;
}

input[type=checkbox].style2:checked~label:before {
	color: $theme-color;
}

input[type=radio] {
	visibility: hidden;
	opacity: 0;
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 0;
	display: none;
}

input[type=radio]~label {
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	line-height: 1;
	display: inline-block;
	font-weight: 600;
	margin-bottom: 0;
}

input[type=radio]~label::before {
	content: "";
	position: absolute;
	font-family: $icon-font;
	left: 0;
	top: -2px;
	width: 20px;
	height: 20px;
	padding-left: 0;
	font-size: 0.6em;
	line-height: 19px;
	text-align: center;
	border: 1px solid $theme-color;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	font-weight: 700;
	background: $white;
	color: transparent;
	-webkit-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

input[type=radio]:checked~label::before {
	border-color: $theme-color;
	background-color: $theme-color;
	color: $white;
}



.search-wrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999999;
	background-color: rgba(255, 255, 255, 0.9);

	.search-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.search-cell {
		position: absolute;
		top: 50%;
		width: 100%;
		transform: translateY(-50%);
	}

	.search-field-holder {
		width: 50%;
		margin: auto;
		position: relative;
		animation: slideInUp 0.3s;
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.search-wrap .search-field-holder {
		width: 70%;
	}
}

@media (max-width: 575px) {
	.search-wrap .search-field-holder {
		width: 80%;
	}
}

.search-wrap .main-search-input {
	width: 100%;
	height: 70px;
	border: 0;
	padding: 0 50px;
	text-transform: capitalize;
	background: transparent;
	font-size: 25px;
	color: $theme-color;
	border-bottom: 2px solid $theme-color;
	text-align: center;
	letter-spacing: 2px;
}

@media (max-width: 575px) {
	.search-wrap .main-search-input {
		height: 50px;
		padding: 0 0;
		line-height: 50px;
		font-size: 18px;
	}
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
	background-color: $theme-color;
}

input.main-search-input::placeholder {
	color: $theme-color;
	opacity: 1;
	font-size: 25px;
}

@media (max-width: 575px) {
	input.main-search-input::placeholder {
		font-size: 18px;
	}
}

.search-close {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
	color: $theme-color;
	cursor: pointer;
}

.section-padding {
	padding: 120px 0;

	@include breakpoint(max-xl) {
		padding: 90px 0;
	}

	@include breakpoint(max-lg) {
		padding: 80px 0;
	}
}

.section-padding1 {
	padding: 200px 0 110px;

	@include breakpoint(max-xl) {
		padding: 180px 0 90px;
	}

	@include breakpoint(max-lg) {
		padding: 170px 0 80px;
	}
}

.section-padding2 {
	padding: 110px 0 270px;

	@include breakpoint(max-xl) {
		padding: 90px 0 240px;
	}

	@include breakpoint(max-lg) {
		padding: 80px 0 230px;
	}

	@include breakpoint(max-md) {
		padding: 80px 0 190px;
	}
}


.background-image,
[data-bg-src] {
	@include background-content(no-repeat, cover, center center);
}

.mask-content {
	mask-repeat: no-repeat;
	-webkit-mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-size: cover;
	mask-position: center center;
	-webkit-mask-position: center center;
	width: 100%;
}



.modal {
	display: none;
	position: fixed;
	z-index: 2050;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(118, 118, 118, 0.5);

	.modal-content {
		position: relative;
		margin-top: 20px;

		.modal-header {

			.btn-close {
				position: absolute;
				width: 30px;
				height: 30px;
				line-height: 30px;
				font-size: 15px;
				opacity: 1;
				text-align: center;
				background-color: $title-color;
				--bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
				color: $white;
				top: -18px;
				left: 50%;
				border-radius: 50%;
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
				-moz-transform: translateX(-50%);
				-ms-transform: translateX(-50%);
				-o-transform: translateX(-50%);
				-webkit-border-radius: 50%;
				-moz-border-radius: 50%;
				-ms-border-radius: 50%;
				-o-border-radius: 50%;
			}
		}
	}
}



// DARK MOOD
.dark-mood {
	h2 {
		color: $white !important;
	}

	.about-wrapper.style1 .about-us {
		background: $dark;
	}

	.single-food-items {
		background: linear-gradient(180deg, rgb(72 67 67 / 30%) 0%, #222 63.33%);

		.item-content h3 {
			color: $white;
		}
	}

	.dishes-card.style1 {
		background: $dark;

		h3 {
			color: $white;
		}
	}

	.food-menu-tab .nav-pills .nav-link {
		color: $white;
	}

	.single-menu-items {
		.details .menu-content a h3 {
			color: $white;
		}

		h6 {
			color: $white;
		}
	}

	.chefe-card.style1 {
		background: $dark;

		.chefe-content a h3 {
			color: $white;
		}
	}

	.blog-card.style1 {
		background: $dark;

		.blog-content a h3 {
			color: $white;
		}
	}

	.dishes-card.style1 p {
		color: $text-color-2; 
	}
	.single-food-items .item-content .text {
		color: $text-color-2; 
	}
	.title-area .text {
		color: $text-color-2; 
	}
	.single-menu-items .details .menu-content p {
		color: $text-color-2; 
	}
	.chefe-card.style1 .chefe-content p {
		color: $text-color-2; 
	}
	.blog-card.style1 .blog-content .blog-meta .item2 .icon span {
		color: $text-color-2; 
	}
	.blog-card.style1 .blog-content .blog-meta .item3 .icon span {
		color: $text-color-2; 
	}
	.link-btn {
		color: $text-color-2; 
	}
	.blog-card.style1 .blog-content a span {
		color: $text-color-2; 
	}
	.food-menu-tab .nav-pills { 
		border-bottom: 1px solid $border-color-3; 
	}
	.food-menu-tab .nav-pills .nav-link { 
		border-right: 1px dashed  $border-color-3;  
	}


	// INDEX 2
	.about-wrapper.style2 .about-us .fancy-box-wrapper .fancy-box .item h6 {
		color: $white;
	}

	.dishes-card.style2 {
		background: $dark;

		.dishes-content h3 {
			color: $white;
		}
	}

	.popular-dishes-wrapper.style2 {
		background: $dark;
	}

	.dishes-card.style3 .dishes-content a h3 {
		color: $white;
	}

	.chefe-card.style2 .chefe-content {
		background: $dark;

		a h3 {
			color: $white;
		}
	}

	.food-menu-wrapper.style2 {
		background: $dark;
	}

	.food-menu-tab-wrapper.style2 {
		background: $dark;
	}

	.single-menu-items .details .menu-content h3 {
		color: $white;
	}

	.testimonial-wrap.style2 .testimonialSliderTwo .btn-wrap .arrow-next,
	.testimonial-wrap.style2 .testimonialSliderTwo .btn-wrap .arrow-prev {
		color: $white;
	}
	.about-wrapper.style2 .about-us .fancy-box-wrapper .fancy-box .item p {
		color: $text-color-2; 
	}
	.about-wrapper.style2 .about-us .title-area .text {
		border-bottom: 1px solid $border-color-3;
	}
	.about-wrapper.style2 .about-us .fancy-box-wrapper .fancy-box { 
		border-right: 1px solid $border-color-3;
	}
	.about-wrapper.style2 .about-us .fancy-box-wrapper { 
		border-bottom: 1px solid $border-color-3;
	}
	.dishes-card.style2 .dishes-content .text {
		color: $text-color-2; 
	}
	.chefe-card.style2 .chefe-content p {
		color: $text-color-2; 
	}
	.dishes-card.style3 .dishes-content p {
		color: $text-color-2; 
	}
	.testimonial-card.style2 p {
		color: $text-color-2; 
	}


	// INDEX 3
	.about-wrapper.style3 .about-content .fancy-box-wrapper .fancy-box .item h6 {
		color: $white;
	}

	.fancy-box.style4 .item p {
		color: $white;
	}
	.fancy-box.style4 .item h6 {
		color: $white;
	}
	.food-menu-tab.style2 .nav-pills .nav-link {
		color: $white;
	}
	.food-menu-tab.style2 .single-menu-items .details .menu-content h3 {
		color: $white;
	}
	.food-menu-tab.style2 .single-menu-items .details .menu-content p {
		color: $text-color-2; 
	}
	.food-menu-tab.style2 .single-menu-items .details .menu-content {
		border-bottom: 1px solid $border-color-3;
	}

	.testimonial-card.style3 { 
		background: $title-color; 
	}
	.testimonial-card.style3 .testimonial-body p {
		color: $text-color-2; 
	}
	.testimonial-card.style3 .testimonial-body .fancy-box .item2 h6 {
		color: $white; 
	}
	.testimonial-card.style3 .testimonial-body .fancy-box .item2 p {
		color: $text-color-2; 
	}
	.fancy-box.style5 .item h6 {
		color: $white; 
	}
	.fancy-box.style5 .item p {
		color: $text-color-2; 
	}
	.dishes-card.style5 {
		background: $dark; 
	}
	.dishes-card.style5 .dishes-content a h3 {
		color: $white; 
	}
	.dishes-card.style5 .dishes-content .text {
		color: $text-color-2; 
	}
	.faq-content-3 .accordion-item .accordion-header .accordion-button {
		color: $white; 
	}
	.faq-content-3 .accordion-item .accordion-collapse .accordion-body {
		color: $text-color-2; 
	}
	.faq-wrapper-4 .clock-wrapper-area {
		background: $dark;
	}
	.faq-wrapper-4 .clock-wrapper-area h3 {
		color: $white; 
	}


}
