@media (min-width:1400px) {
 

    .header-section-2,
    .header-2 {
        .container {
            max-width: 1352px;
        }
    }

    .banner-container {
        .container {
            max-width: 1544px;
        }
    }

    .banner-bottom  {
		.container-fluid {
			padding: 0 160px!important; 
		}
		
	} 

    .best-food-wrapper {
        .container {
            max-width: 1084px;
        }
    }

    .offer-wrapper {
        .container {
            max-width: 1850px;
        }
    }

    .about-wrapper {
        &.style1 {
            .container {
                max-width: 1850px;
            }
        }
    }

    .timer-wrapper {
        &.style1 {
            .container {
                max-width: 1850px;
            }
        }
    }


    .popular-dishes-wrapper-container {
        .container {
            max-width: 1850px;
        }
    }

    .food-menu-wrapper-container {
        &.style2 {
            .container {
                max-width: 1820px;
            }
        } 
    }
    .food-menu-wrapper {
        &.style2 {
            .container {
                max-width: 1670px;
            }
        }

        &.style3 {
            .container {
                max-width: 1570px;
            }
        }
    }



    .timer-wrap {
        &.style1 {
            .container {
                max-width: 1360px;
            }
        }
    }

    .popular-dishes-wrapper {
        &.style1 {
            .container {
                max-width: 1500px;
            }
        }

        &.style2 {
            .container {
                max-width: 1500px;
            }
        }

        &.style4 {
            .container {
                max-width: 1500px;
            }
        }
    }


    .cta-wrapper {
        &.style1 {
            .container {
                max-width: 1360px;
            }
        }
        &.style2 {
            .container {
                max-width: 1520px;
            }
        }
        &.style3 {
            .container {
                max-width: 1450px;
            }
        }
    }
    .contact-wrapper {
        &.style1 { 
            .container {
                max-width: 1480px;
            }
        }

        &.style2 { 
            .container {
                max-width: 1300px;
            }
        }
    }

    .testimonial-wrapper {
        &.style2 {
            .container {
                max-width: 1450px;
            }
        }
    }

    .shop-wrapper {
        &.style1 {
            .container {
                max-width: 1620px;
            }  
        }
    }

    .shop-details-wrapper {
        &.style1 {
            .container {
                max-width: 1620px;
            }  

            .shop-details {
                .container {
                    max-width: 1200px;
                }  
            }
        }
    } 

    .contact-box-wrapper {
        &.style1 {
            .container {
                max-width: 1420px;
            }
        }
    }

    .contact-form-wrapper {
        &.style2 {
            .container {
                max-width: 1420px;
            }
        }
    }

    .modal-dialog {
        max-width: 1223px;
        height: 588px;
        margin-right: auto;
        margin-left: auto;
    }
}