/*----------------------------------------------
    # Faq style here
----------------------------------------------*/
.faq-content {
    @include breakpoint (max-xl) {
        margin-top: 40px;
    }
    .accordion-item {
        border: 0;
        background-color: $white;

        .accordion-header {
            .accordion-button {
                font-weight: 600;
                color: $title-color;
                letter-spacing: -.2px;
                border: none; 
                box-shadow: none;
                background-color: $bg-color-2;
                padding: 17px 20px;
                text-transform: capitalize;
                font-size: 20px;
                border-radius: 12px 12px 0 0;
                -webkit-border-radius: 12px 12px 0 0;
                -moz-border-radius: 12px 12px 0 0;
                -ms-border-radius: 12px 12px 0 0;
                -o-border-radius: 12px 12px 0 0;

                @include breakpoint (max-md) {
                    font-size: 16px;
                }

                &:after {
                    display: inline-block;
                    background-image: url(../../assets/img/icon/chevron-down.svg);
                    background-repeat: no-repeat;
                    background-position: center;
                    color: $white;
                    font-weight: 500;
                    padding: 20px;
                    background-color: $white;
                    text-align: center;
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    transition: all 0.3s ease-in-out !important;
                    -webkit-transition: all 0.3s ease-in-out !important;
                    -moz-transition: all 0.3s ease-in-out !important;
                    -ms-transition: all 0.3s ease-in-out !important;
                    -o-transition: all 0.3s ease-in-out !important;
                }

                &:not(.collapsed):after {
                    background-image: url(../../assets/img/icon/chevron-up.svg);
                    font-weight: 500;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: $title-color;
                    color: $white;
                    transform: rotate(0);
                    border-radius: 50%;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;
                    -webkit-transform: rotate(0);
                    -moz-transform: rotate(0);
                    -ms-transform: rotate(0);
                    -o-transform: rotate(0);
                }

                &.collapsed {
                    background-color: transparent;
                    border: 1px solid $border-color;
                    padding: 17px 20px;
                    color: $title-color;
                }

            }
        }

        .accordion-collapse {
            border: none;

            .accordion-body {
                padding-right: 150px;
                padding-left: 30px;
                padding-top: 15px;
                color: $text-color;
                background-color: $theme-color;

                @include breakpoint (max-xxl) {
                    padding-right: 50px;
                }

                @include breakpoint (max-lg) {
                    padding-right: 30px;
                }
            }
        }
    } 

    &.style-1 { 
        .accordion-item {
            background-color: $bg-color-2;
            box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);
           // border: 1px solid $border-color;
            border-radius: 12px;
            -webkit-border-radius: 12px;
            -moz-border-radius: 12px;
            -ms-border-radius: 12px;
            -o-border-radius: 12px;

            .accordion-header {
                .accordion-button {
                    background-color: $theme-color; 
                    color: $white;
                    &.collapsed {
                        color: $title-color;
                        font-family: inherit;
                        text-align: left;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: inherit;
                        background-color: $white;
                        border: none;
                        border-radius: 12px;
                        -webkit-border-radius: 12px;
                        -moz-border-radius: 12px;
                        -ms-border-radius: 12px;
                        -o-border-radius: 12px;

                        @include breakpoint (max-md) {
                            font-size: 16px;
                        }
                    }
                }
            }

            .accordion-collapse { 
                .accordion-body {
                    border: none;
                    padding-bottom: 30px;
                    background-color: $white;
                    border-radius: 0 0 12px 12px;
                    -webkit-border-radius: 0 0 12px 12px;
                    -moz-border-radius: 0 0 12px 12px;
                    -ms-border-radius: 0 0 12px 12px;
                    -o-border-radius: 0 0 12px 12px;

                    @include breakpoint (max-md) {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

.faq-box{ 
    padding: 20px;
    margin-top: 40px;
    border-radius:  12px;
    border: 1px solid $border-color;
    -webkit-border-radius:  12px;
    -moz-border-radius:  12px;
    -ms-border-radius:  12px;
    -o-border-radius:  12px;
}

.faq-wrapper{
	position: relative;

	.shape1{
		position: absolute;
		top: 60%;
		left: 10%;
		z-index: 1;
	}

	.shape2{
		position: absolute;
		top: 10%;
		right: 8%;
		z-index: 1;
	}

	.faq-items{
		h1{
			color: $title-color;
			text-align: center; 
			font-family: $title-font;
			font-size: 48px;
			font-style: normal;
			font-weight: 700;
			line-height: 120%; 
			margin-top: 15px;
			margin-bottom: 15px;
		}

		p{
			color: $text-color;
			text-align: center; 
			font-family: $body-font;
			font-size: 16px;
			font-style: normal;
			font-weight: 300;
			line-height: 150%;  
			margin-bottom: 30px;
		}

		.btn-wrapper {
			text-align: center;
			max-width: 160px;
			margin: 0 auto;
		}
	}
}

.faq-content-3 {
    .accordion-item {
        border: 0;
        margin-top: 20px;
        border-radius: 10px;
        background-color: transparent;
        border: 1px solid rgba(92, 101, 116, 0.25);
        padding: 5px 10px;

        .accordion-header { 
        
            .accordion-button { 
                font-weight: 500;
                color: $title-color;
                letter-spacing: -.2px;
                border: 0;
                border-radius: 0;
                box-shadow: none;
                background-color: transparent;
                text-transform: capitalize;
                font-size: 18px;

                &::after {
                    content: "\f067";
                    background: transparent;
                    font-family: $icon-font;
                    font-weight: 300;
                    transition: all 0.3s ease-in-out !important;
                    color: $theme-color;
                }
                &:not(.collapsed)::after {
                    content: "\f068";
                    background: transparent;
                    font-family: $icon-font;
                    font-weight: 300;
                }
            }
        }

        .accordion-collapse { 

            .accordion-body {
                padding-right: 30px;
                padding-top: 5px;
                color: $text-color;
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}

.faq-wrapper-4 {
    .faq-image-area {
        position: relative;

        .faq-slider {
            position: relative;

            .btn-wrap {
                @include flex;
                justify-content: space-between;
                position: absolute;
                top: 50%;
                left: 50px;
                right: 50px;
                transform: translateY(-50%);
                z-index: 9;

                .arrow-prev,.arrow-next {
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    border-radius: 50%;
                }

                .arrow-prev {
                    background-color: $white;
                    color: $theme-color;
                }

                .arrow-next {
                    background-color: $theme-color;
                    color: $white;
                }
            }
        }

        
        &::before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            content: "";
            border-radius: 20px;
            border: 1px solid rgba(92, 101, 116, 0.25);
            height: 82%;
            z-index: -1;
        }

        .faq-img {
            padding: 25px;
            img {
                @include imgw;
                border-radius: 10px;
            }
        }
    }

    .clock-wrapper-area {
        text-align: center;
        background-color: $white;
        border-radius: 15px;
        padding: 30px;
        margin: 30px;
        margin-top: 0;
        margin-bottom: 0;

        h3 {
            font-size: 24px;
            font-weight: 700;
            margin-bottom: 30px;
        }

        .clock-wrapper {
            @include flex;
            gap: 20px;
            justify-content: center;

            @include breakpoint (max-md){
                flex-wrap: wrap;
            }
        }

        .clock {
            background-color: $theme-color;
            border-radius: 6px;
            width: 100px;
            text-align: center;

            .number {
                color: $white;
                font-size: 33px;
                font-weight: 700;
                border-bottom: 1px solid rgba(230, 247, 252, .2);
                padding: 20px 25px;
                line-height: 1;
            }

            .text {
                font-size: 14px;
                text-transform: uppercase;
                color: $white;
                font-weight: 400;
                text-align: center;
                padding: 5px;
            }
        }
    }
}