.testimonial-wrapper {
    &.style1 {
        position: relative;

        .shape {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
        }

        .shape2 {
            position: absolute;
            top: 228px;
            right: 0;
            z-index: 1;
        }

        .video-wrap {
            position: relative;
            z-index: 6;

            @include breakpoint (max-xl) {
                margin-bottom: 30px;
            }
        }

        .btn-wrap {
            position: absolute;
            bottom: 5%;
            left: 65%;
            display: flex;
            z-index: 5;
            gap: 20px;
            transform: translateX(-65%);
            -webkit-transform: translateX(-65%);
            -moz-transform: translateX(-65%);
            -ms-transform: translateX(-65%);
            -o-transform: translateX(-65%);


            @include breakpoint (max-xxl) {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                -webkit-transform: translateX(-50%);
                -moz-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                -o-transform: translateX(-50%);
            }
        }

        .arrow-prev {

            i {
                width: 56px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                background: transparent;
                color: $theme-color;
                border: 1px solid $theme-color;
                border-radius: 50%;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                &:hover {
                    background: $white;
                    color: $title-color;
                    border: 1px solid $white;
                }
            }
        }

        .arrow-next {
            i {
                width: 56px;
                height: 56px;
                line-height: 56px;
                text-align: center;
                background: $theme-color;
                color: $white;
                border: 1px solid $theme-color;
                border-radius: 50%;
                transition: all 0.4s;
                -webkit-transition: all 0.4s;
                -moz-transition: all 0.4s;
                -ms-transition: all 0.4s;
                -o-transition: all 0.4s;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;

                &:hover {
                    background: $white;
                    color: $title-color;
                    border: 1px solid $white;
                }
            }
        }
    }

    &.style3 {
        position: relative;
        .btn-wrap {

            .arrow-prev {
                position: absolute;
                top: 70%;
                left: 12%; 
                transform: translate(-12%, -70%);
                -webkit-transform: translate(-12%, -70%);
                -moz-transform: translate(-12%, -70%);
                -ms-transform: translate(-12%, -70%);
                -o-transform: translate(-12%, -70%);

                i {
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    background: transparent;
                    color: $theme-color;
                    border: 1px solid $theme-color;
                    border-radius: 50%;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    &:hover {
                        background: $title-color;
                        color: $white;
                        border: 1px solid $title-color;

}
                }

                @include breakpoint (max-xxxl) {
                    display: none;
                }
            }

            .arrow-next {
                position: absolute;
                top: 70%;
                right: 12%;
                transform: translate(-12%, -70%);
                -webkit-transform: translate(-12%, -70%);
                -moz-transform: translate(-12%, -70%);
                -ms-transform: translate(-12%, -70%);
                -o-transform: translate(-12%, -70%);

                i {
                    width: 56px;
                    height: 56px;
                    line-height: 56px;
                    text-align: center;
                    background: $theme-color;
                    color: $white;
                    border: 1px solid $theme-color;
                    border-radius: 50%;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;
                    -webkit-border-radius: 50%;
                    -moz-border-radius: 50%;
                    -ms-border-radius: 50%;
                    -o-border-radius: 50%;

                    &:hover {
                        background: $white;
                        color: $title-color;
                        border: 1px solid $white;
                    }
                }

                @include breakpoint (max-xxxl) {
                    display: none;
                }
            }
        }
    }
}

.testimonial-card {
    &.style1 {
        padding: 50px;
        margin-top: 40px;
        max-width: 757px;
        border-radius: 16px;
        border-top: 4px solid $theme-color-2;
        background: $white;
        box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.06);

        .testimonial-header {
            position: relative;
            margin-bottom: 22px;

            .quote {
                position: absolute;
                top: 0;
                right: -20px;

                @include breakpoint (max-xl) {
                    right: -45px;
                    img {
                        width: 40px;
                    }
                }
            }

            .fancy-box {
                display: flex;
                align-items: center;
                gap: 20px;

                .item1 {
                    img {
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }

                .item2 {
                    h6 {
                        color: $title-color;
                        font-family: $title-font;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: -0.44px;
                    }

                    p {
                        color: $text-color;
                        font-family: $body-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                    }
                }
            }
        }

        p {
            color: $text-color;
            font-family: $body-font;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 38px;

            @include breakpoint (max-xl) { 
                font-size: 18px; 
                line-height: 30px;
            }
        }
    }

    &.style2 {
        .quote {
            margin-top: 30px;
            margin-bottom: 20px;
        }

        p {
            color: $text-color;
            font-family: $body-font;
            font-size: 20px;
            font-style: italic;
            font-weight: 600;
            line-height: 35px;
            text-transform: capitalize;
            margin-bottom: 38px;
        }

        .profile-box {
            position: relative;
            display: flex;
            align-items: center;
            gap: 25px;

            &:before {
                position: absolute;
                content: '';
                top: 50px;
                right: 220px;
                width: 270px;
                height: 1px;
                background: #D2D2D1;
                z-index: 1;


                @include breakpoint (max-xxl) {
                    width: 100px;
                }
                @include breakpoint (max-md) {
                    width: 0px;
                }
            }
        }

        .testimonial-thumb {
            img {
                width: 100%;
            }
        }
    }

    &.style3 {
        display: flex; 
        gap: 30px;
        padding: 30px;
        margin-top: 40px; 
        border-radius: 15px;
        border-top: 5px solid $theme-color;
        border-right: 1px solid $theme-color;
        border-bottom: 1px solid $theme-color;
        border-left: 1px solid $theme-color;
        background: $white;
        box-shadow: 0px 10px 30px 0px rgba(52, 55, 170, 0.15);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;


        @include breakpoint (max-lg) {
            flex-direction: column;
        }

        .testimonial-thumb {
            width: 100%;
            height: 100%;

            img {
                width: 100%;
                height: 100%;
            }
}

        .testimonial-body {
            position: relative; 

            .quote {
                position: absolute;
                bottom: 0;
                right: -20px;

                @include breakpoint (max-md) {
                    right: 0px;
                }
            }

            .icon {
                margin-bottom: 10px;
            }

            p {
                margin-bottom: 10px;
            }

            .fancy-box {
                display: flex;
                align-items: center;
                gap: 20px;

                .item1 {
                    img {
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                    }
                }

                .item2 {
                    h6 {
                        color: $title-color;
                        font-family: $title-font;
                        font-size: 22px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 28px;
                        letter-spacing: -0.44px;
                    }

                    p {
                        color: $text-color;
                        font-family: $body-font;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 22px;
                        margin-bottom: 0;
                    }
                }
            }
        }


    }
}


.testimonial-wrap {
    &.style2 {

        .title-area {
            padding-bottom: 30px;
            border-bottom: 1px solid #D2D2D1;
            max-width: 678px;
        }

        .testimonialSliderTwo {
            position: relative;

            .btn-wrap {
                position: absolute;
                bottom: 24px;
                right: 100px;
                display: flex;
                gap: 10px;
                z-index: 5;

                .arrow-next,
                .arrow-prev {
                    color: $title-color;
                    transition: all 0.4s;
                    -webkit-transition: all 0.4s;
                    -moz-transition: all 0.4s;
                    -ms-transition: all 0.4s;
                    -o-transition: all 0.4s;

                    &:hover {
                        color: $theme-color;
                    }

                    @include breakpoint (max-sm) {
                        display: none;
                    }
                }
            }
        }

        .testimonial-thumb {
            @include breakpoint (max-xl){
                img {
                    @include imgw;
                }
            }
        }
    }
}

.testimonial-section {
    position: relative;

    .vagetable-shape {
        position: absolute;
        bottom: 0;
        left: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .chili-shape {
        position: absolute;
        top: 0;
        right: 0;

        @include breakpoint (max-xl){
            display: none;
        }
    }

    .testi-shape {
        position: absolute;
        top: 0;
        left: 0;
    }
}