```html
<div class="brands p-0">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="brand_list">
                    <div class="slider slider_four">
                        <div>
                            <div class="single_brand">
                                <a href="#"><img src="assets/img/brand/brand1.png" alt=""></a>
                            </div>
                        </div>
                        <div>
                            <div class="single_brand">
                                <a href="#"><img src="assets/img/brand/brand2.png" alt=""></a>
                            </div>
                        </div>
                        <div>
                            <div class="single_brand">
                                <a href="#"><img src="assets/img/brand/brand3.png" alt=""></a>
                            </div>
                        </div>
                        <div>
                            <div class="single_brand">
                                <a href="#"><img src="assets/img/brand/brand4.png" alt=""></a>
                            </div>
                        </div>
                        <div>
                            <div class="single_brand">
                                <a href="#"><img src="assets/img/brand/brand5.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
```